* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --space-sm: 20px;
  --space-md: 30px;
  --space-lg: 50px;

  --fs-sm:20px;
  --fs-md:25px;
  --fs-lg:30px;
  --fs-xl:35px;
}

.card-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: auto;
  background-color: #2b3499;
  color: #f7eedd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.64);
  font-weight: bold;
  transition: all 0.5s ease;
}

.card-button:hover {
  color: #2b3499;
  background-color: #f7eedd;
  cursor: pointer;
}

.rental-button {
  width: 170px;
  height: auto;
  background-color: #41c9e2;
  color: #f7eedd;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.64);
  transition: all 0.5s ease;
}

.rental-button:hover {
  color: #41c9e2;
  background-color: #f7eedd;
  cursor: pointer;
}

.delete-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  height: auto;
  background-color: red;
  color: #f7eedd;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.64);
  margin-bottom: var(--space-sm);
  transition: all 0.5s ease;
}

.delete-button:hover {
  color: red;
  background-color: #f7eedd;
  cursor: pointer;
}
.submit-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  height: auto;
  background-color: green;
  color: #f7eedd;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.64);
  transition: all 0.5s ease;
  margin: 20px auto;
}

.submit-button:hover {
  background-color: #f7eedd;
  color: green;
}

.details-container .button-container .rental-button {
  display: none;
}

/* Navbar style */
.bg-container {
  height: 70vh;
  background-position: center;
  width: 100%;
  position: relative;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: #f3b664;
  position: absolute;
  top: var(--space-sm);
  left: 5%;
  padding: 10px;
  border-radius: 5px;
}

.navbar .img-container {
  margin: 10px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar-links li {
  margin: 0px 35px;
  font-size: var(--fs-sm);
}
.navbar-links a {
  text-decoration: none;
  color: #2b3499;
}

ul a:hover {
  border-bottom: 1px solid #ace3e1;
  color: #ace3e1;
}
/* Navbar style ends here */

/* Style first-section: about-us  */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F5F2;
  padding-bottom: var(--space-sm);
}
.about-section .img-container {
  margin: var(--space-lg) auto;
}
.about-section img {
  width: 100%;
  margin: 80px auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg) var(--space-lg) 0 var(--space-lg);
}
.about-us-description {
  font-size: var(--fs-md);
  margin: var(--space-sm) auto;
}
.about-title {
  font-size: var(--fs-lg);
  margin: 0px 0px var(--space-lg) 0px;
}

.about-us-quote {
  font-size: var(--fs-md);
}

.about-us-quote span {
  color: #008dda;
}

.about-second-title {
  font-size: var(--fs-md);
  margin: 0px 0px var(--space-lg) 0px;
}

/* About style ends here */

/* Style Why topRent */
.why-top-rent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--space-lg) auto 0px auto;
}
.why-top-rent .section-container {
  padding: 0 var(--space-lg) var(--space-lg) var(--space-lg);
}

.why-top-rent .card-container {
  display: flex;
  justify-content: space-between;
}

.why-top-rent .card-container .card {
  width: 30%;
  margin: var(--space-sm) 0;
  border: 2px solid #f3b664;
  border-radius: 5px;
  padding: var(--space-sm);
}

.why-top-title {
  font-size: var(--fs-lg);
  padding: var(--space-md) 0px;
}

.why-top-rent .quote-paragraph {
  font-size: var(--fs-md);
  margin: var(--space-md) 0px;
}
.why-us {
  margin: var(--space-md) 0;
}

/* Why TopRent style ends here */

/* Home page style*/
.home-title {
  font-size: var(--fs-md);
  padding: var(--space-lg) 0px;
}
.section-container {
  /* padding-bottom: var(--space-lg); */
  width: 100%;
}

.see-offers-title {
  margin-top: var(--space-lg);
  font-size: var(--fs-xl);
}

/* Home page style ends here */

/* Listed-section style */
.rent-section .listed-section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.rent-section-card .card-img {
  width: 400px;
  height: auto;
}
.card-title {
  font-size: var(--fs-md);
  color: #2b3499;
  padding: var(--space-md) 0px;
}
.rent-section .rent-section-card {
  margin-top: var(--space-lg);
}
.rent-section .button-container {
  display: flex;
  justify-content: space-evenly;
  margin: var(--space-md) 0;
}

/* Listed-section style ends here */

/* Product container style */
.see-offers-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product container style ends here */

/* Footer style */
.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41c9e2;
  height: 100px;
  padding: 60px;
  width: 100%;
}

.footer-section p {
  font-size: var(--fs-lg);
}

/* Footer style ends here */

/* Card details */

.details-section-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.details-card .card-details-title {
  color: #008dda;
  font-size: var(--fs-md);
  margin: 20px auto;
}
.details-card {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  border: 1px solid red;
  width: 40%;
}
.details-card img {
  width: 80%;
  height: 400px;
  margin: 20px auto;
}
.details-card .card-address {
  font-size: var(--fs-sm);
  margin: 20px;
}

.details-card .card-description {
  font-size: var(--fs-md);
  margin: 20px;
}

.details-card .card-price {
  font-size: var(--fs-sm);
  margin: 20px;
}

.details-card .rental-button {
  margin: 20px auto;
}
/* Cards-details ends here */

/* Property style */
.product-container {
   background-color: #F6F5F2;
}

.product-section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.property-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  margin: var(--space-md);
  background-color: #ffd099;
  border-radius: 5px;
  padding: var(--space-sm);
  position: relative;
}
.property-container .property-notification {
  position: absolute;
  background-color: #F6F5F2;
  padding: 5px 10px;
  bottom: 5px;
  border-radius: 10px;
}

.property-container .card-image {
  width: 100%;
  height: auto;
}

.property-container .card-info {
  font-size: var(--fs-sm);
}
.property-container .card-description {
  font-size: var(--fs-md);
  padding-top: var(--space-md);
}

.property-container .button-container {
  margin: var(--space-md);
  display: flex;
}

.property-container .card-button {
  margin: 0 var(--space-sm);
}

.home-title a {
  color: #008dda;
}

.home-title a:hover {
  color: #2b3499;
}

.rent-section .card-info-container {
  padding: var(--space-sm) var(--space-sm) 0 var(--space-sm);
}

.rent-section .card-info-container .card-info {
  padding: var(--space-sm) 0 0 0;
}

.favourite-container {
  background-color: #F6F5F2;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-container h2 {
  color: white;
  font-size: var(--fs-lg);
}

.title-container {
  display: flex;
  justify-content: center;
}

.favourite-container {
  padding: 0 0 var(--space-md) 0;
}
/* Property style ends here */

/* Form style */
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: #ffd099;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

form input {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  width: 500px;
}
.input-container {
  display: flex;
  align-items: center;
}
.success-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--space-lg);
}
.success-message .success-paragraph {
  font-size: var(--fs-lg);
}

.form-decription {
  font-size: var(--fs-sm);
  margin: 0 var(--space-lg);
}

/* Form style ends here */

/* Responsive navbar */
.nav-btn {
  display: none;
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: black;
}

@media (max-width: 768px) {
  .nav-btn {
    display: block;
    position: absolute;
    right: var(--space-sm);
  }
  .navbar .img-container img {
    width: 100px;
    height: auto;
  }
  .navbar-links {
    display: none;
  }

  .navbar-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 100%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: #ffd099;
  }
  .navbar-links-mobile li {
    margin: 10px var(--space-sm);
    font-size: var(--fs-sm);
  }
  .navbar-links-mobile a {
    text-decoration: none;
    color: black;
  }

  /* Responsive navbar ends here */

  /* About us section */
  .about-section .img-container {
    width: 90%;
  }

  .about-section img {
    margin: var(--space-md) auto;
  }

  .content-container {
    padding: var(--space-md);
  }
  .about-title {
    margin: 0px 0px var(--space-md) 0px;
  }
  .about-second-title {
    margin: 0px 0px var(--space-md) 0px;
  }

  /* Why-top-rent */
  .why-top-rent {
    padding: 0;
    margin: 0;
  }
  .why-top-rent .section-container {
    padding: var(--space-md) var(--space-md);
  }

  .why-top-rent .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .why-top-rent .card-container .card {
    width: 100%;
    margin: var(--space-sm) auto;
  }

  .why-top-rent .card-container .card img {
    margin: var(--space-sm) 0;
  }

  /* Rent-section */
  .see-offers-container .see-offers-title {
    margin: var(--space-md) auto;
  }
  .rent-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--space-md);
  }
  .rent-section .listed-section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .rent-section .rent-section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .rent-section .home-title {
    padding: var(--space-md) auto;
  }

  .rent-section-card .card-img {
    width: 100%;
    height: auto;
  }

  /* Stilizare property */
  .product-section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

  .property-container .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .property-container .rental-button {
    margin: var(--space-md) 0 0;
  }

  .details-container .property-container {
    width: 100%;
  }

  .details-container {
    flex-wrap: nowrap;
  }

  .product-container .title-container .home-title {
    margin: 0 var(--space-sm);
  }
  .product-container {
    margin: var(--space-sm);
  }

  /* Favorite */
  .product-section-container {
    margin: var(--space-sm);
  }
  .product-section-container .property-container {
    padding: var(--space-sm);
    margin: var(--space-sm);
  }

  .product-section-container .property-container {
    width: 100%;
    margin: var(--space-sm) auto;
  }
  /* Details */
  .product-container {
    margin: 0;
    padding: var(--space-sm) 0;
  }

  form input {
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .details-container .property-container {
    width: 100%;
  }
  .property-container .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .property-container .button-container .card-button {
    margin-bottom: var(--space-sm);
  }
  .favourite-container .property-container {
    width: 100%;
  }
}